
  <div id="main">
  <div class="flex-shrink-0 p-3 bg-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Menu de création</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          <h4>Profil colorimétrique</h4>
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div class="color-generator">
            <% @color_range.each do |color| %>
              <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color%>; color: <%= color%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color%></li>
            <% end %>
          </div>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          <h4>Action</h4>
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <div class="action-generator">
              <button data-action="click->pattern#groupSelection" class="button-white">Select all</button>
              <%# <button data-action="click->pattern#unGroupSelection" class="button-black">Ungroup All</button> %>
              <button data-action="click->pattern#saveCanvas" class="button-white">Save</button>
              <button data-action="click->pattern#loadCanvas" class="button-white">Load</button>
              <button data-action="click->pattern#undo" class="button-white">Undo</button>
              <button data-action="click->pattern#redo" class="button-white">Redo</button>
              <button data-action="click->pattern#clearCanvas" class="button-white">Clear all</button>
              <button data-action="click->pattern#removeSelection" class="button-white">Delete selection</button>
            </div>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          <h4>Couleur de fond</h4>
        </button>
        <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div class="background-generator">
             <% @color_range.each do |color| %>
            <li data-action="click->pattern#setBackgroundColor" style="background-color: <%=color%>; color: <%= color%>; white-space: nowrap; overflow: hidden; margin:0;" class="btn list-unstyled"> <%= color%></li>
          <% end %>
          </div>
        </ul>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          <h4>Bibliothèque de formes</h4>
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div class="shapes-generator">
            <%= inline_svg_tag "losange.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "colibri.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "crabe.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "fleur.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  </div>
