
  <div id="main">
  <div class="flex-shrink-0 p-3 bg-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold"><%= @pattern.name%></span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          <h4>Profil colorimétrique</h4>
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#trois-c-collapse" aria-expanded="false">
              <h4>3 couleurs</h4>
            </button>
            <% @color_ranges.each do |color| %>
              <% if color.color4.nil? %>
                <div class="collapse" id="trois-c-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <div class="color-generator">
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color1%>; color: <%= color.color1%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color1%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color2%>; color: <%= color.color2%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color2%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color3%>; color: <%= color.color3%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color3%></li>
                    </div>
                  </ul>
                </div>
              <% end %>
            <% end %>
            </li>
          </ul>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#quatre-c-collapse" aria-expanded="false">
              <h4>4 couleurs</h4>
            </button>
            <% @color_ranges.each do |color| %>
              <% if color.color4.nil? == false && color.color5.nil? %>
                <div class="collapse" id="quatre-c-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <div class="color-generator">
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color1%>; color: <%= color.color1%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color1%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color2%>; color: <%= color.color2%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color2%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color3%>; color: <%= color.color3%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color3%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color4%>; color: <%= color.color4%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color4%></li>
                    </div>
                  </ul>
                </div>
              <% end %>
            <% end %>
            </li>
          </ul>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#cinq-c-collapse" aria-expanded="false">
              <h4>5 couleurs</h4>
            </button>
            <% @color_ranges.each do |color| %>
              <% if color.color4.nil? == false && color.color5.nil? == false && color.color6.nil? %>
                <div class="collapse" id="cinq-c-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <div class="color-generator">
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color1%>; color: <%= color.color1%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color1%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color2%>; color: <%= color.color2%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color2%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color3%>; color: <%= color.color3%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color3%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color4%>; color: <%= color.color4%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color4%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color5%>; color: <%= color.color5%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color5%></li>
                    </div>
                  </ul>
                </div>
              <% end %>
            <% end %>
            </li>
          </ul>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#six-c-collapse" aria-expanded="false">
              <h4>6 couleurs</h4>
            </button>
            <% @color_ranges.each do |color| %>
              <% if color.color4.nil? == false && color.color5.nil? == false && color.color6.nil? == false && color.color7.nil? %>
                <div class="collapse" id="six-c-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <div class="color-generator">
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color1%>; color: <%= color.color1%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color1%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color2%>; color: <%= color.color2%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color2%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color3%>; color: <%= color.color3%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color3%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color4%>; color: <%= color.color4%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color4%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color5%>; color: <%= color.color5%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color5%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color6%>; color: <%= color.color6%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color6%></li>
                    </div>
                  </ul>
                </div>
              <% end %>
            <% end %>
            </li>
          </ul>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
            <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#sept-c-collapse" aria-expanded="false">
              <h4>7 couleurs</h4>
            </button>
            <% @color_ranges.each do |color| %>
              <% if color.color7.nil? == false %>
                <div class="collapse" id="sept-c-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <div class="color-generator">
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color1%>; color: <%= color.color1%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color1%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color2%>; color: <%= color.color2%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color2%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color3%>; color: <%= color.color3%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color3%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color4%>; color: <%= color.color4%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color4%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color5%>; color: <%= color.color5%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color5%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color6%>; color: <%= color.color6%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color6%></li>
                      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color.color7%>; color: <%= color.color7%>; white-space: nowrap; overflow: hidden; margin:0;" class="color btn list-unstyled"><%= color.color7%></li>
                    </div>
                  </ul>
                </div>
              <% end %>
            <% end %>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          <h4>Action</h4>
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <div class="action-generator">
              <button data-action="click->pattern#groupSelection" class="button-white">Select all</button>
              <%# <button data-action="click->pattern#unGroupSelection" class="button-black">Ungroup All</button> %>
              <button data-action="click->pattern#saveCanvas" class="button-white">Save</button>
              <button data-action="click->pattern#loadCanvas" class="button-white">Load</button>
              <button data-action="click->pattern#undo" class="button-white">Undo</button>
              <button data-action="click->pattern#redo" class="button-white">Redo</button>
              <button data-action="click->pattern#clearCanvas" class="button-white">Clear all</button>
              <button data-action="click->pattern#removeSelection" class="button-white">Delete selection</button>
              <button data-action="click->pattern#clone" class="button-white">Clone</button>
            </div>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          <h4>Couleur de fond</h4>
        </button>
        <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div class="background-generator">
             <% @color_range_array.each do |color| %>
            <li data-action="click->pattern#setBackgroundColor" style="background-color: <%=color%>; color: <%= color%>; white-space: nowrap; overflow: hidden; margin:0;" class="btn list-unstyled"> <%= color%></li>
          <% end %>
          </div>
        </ul>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          <h4>Bibliothèque de formes</h4>
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <div class="shapes-generator">
            <%= inline_svg_tag "colibri.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-1.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-2.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-3.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-4.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-5.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-6.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-7.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-8.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-9.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-10.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-11.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-12.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-13.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-14.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-15.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-16.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-17.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-18.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-19.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-20.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-21.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-22.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-23.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-24.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-26.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-27.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-28.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-29.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-30.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-31.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-32.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-33.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-34.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-35.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>
          <div class="shapes-generator">
            <%= inline_svg_tag "shapes/shape-36.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
          </div>

          </ul>
        </div>
      </li>
    </ul>
  </div>

  </div>
