  <div class="main-title">
    <span class="txt t1"> <h1>SAME SAME BUT DIFFERENT&nbsp;</h1></span>
    <span class="txt t2"> <h1>SAME SAME BUT DIFFERENT&nbsp;</h1></span>
  </div>

<div id="level-2">
  <div class="card-shapes">
        <%= image_tag "homepage/bar.svg", class:"bar first" %>
        <%= image_tag "homepage/shapes/shape-1.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-2.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-3.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-4.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-5.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-6.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-7.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-8.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-9.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%# <%= image_tag "homepage/shapes/shape-10.png" %>
        <%= image_tag "homepage/shapes/shape-1.png"%>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-2.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-3.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-4.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-5.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-6.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-7.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-8.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
        <%= image_tag "homepage/shapes/shape-9.png" %>
        <%= image_tag "homepage/bar.svg", class:"bar" %>
  </div>
</div>

<div class="description">
  <span class="txt p1"> <h2>MIROIR MIROIR, MON BEAU MIROIR, Vous participez activement au design du modèle que vous portez. Grâce à votre contribution, l’objet reflète votre personnalité et vous avez de quoi être fier de vous !  &nbsp;</h2></span>
  <span class="txt p2"> <h2>MIROIR MIROIR, MON BEAU MIROIR, Vous participez activement au design du modèle que vous portez. Grâce à votre contribution, l’objet reflète votre personnalité et vous avez de quoi être fier de vous !  &nbsp;</h2></span>
  <h2></h2>
</div>

<div id="home-3">
  <div class="search-filter">
    <h2>SORT BY</h2>
  <p class="button-white">original order</p>
  <p class="button-white">name</p>
  <p class="button-white">release date</p>
  <p class="button-white">last update</p>
  <p class="button-white">random</p>
  </div>
</div>

<%# <div class="level-4"> %>

<div class="card-patterns">
  <% @patterns.sample(5).each do |pattern| %>
      <div class="parent" >
        <div class="child bg-one" style="background: url('<%= cl_image_path pattern.photo.key %>'); background-size: cover;">
          <div class="box-black">
          </div>
        </div>
      </div>
  <% end %>
</div>

<%# <div class="level-5"> %>
<div class="create-inspirate">
  <%= image_tag "homepage/bar.svg", class:"bar" %>
  <%= link_to "Créer",  patterns_path, data: {turbo_method: :post}, class: "button-black" %>
  <%= image_tag "homepage/bar.svg", class:"bar" %>
  <%= link_to "Find inspiration", patterns_path, class: "button-white" %>
  <%= image_tag "homepage/bar.svg", class:"bar" %>
</div>
<%# </div> %>
