  <div class="main-title">
    <span class="txt t1"> <h1>UN PETIT COUP DE POUCE ...&nbsp;</h1></span>
    <span class="txt t2"> <h1>UN PETIT COUP DE POUCE ...&nbsp;</h1></span>
    <span class="txt t2"> <h1>UN PETIT COUP DE POUCE ...&nbsp;</h1></span>
  </div>

<div id="index-3">
  <div class="search-filter">
    <h2>SORT BY</h2>
  <p class="button-white">original order</p>
  <p class="button-white">name</p>
  <p class="button-white">release date</p>
  <p class="button-white">last update</p>
  <p class="button-white">random</p>
  </div>
</div>





  <div class="collection" data-controller="pattern-inspi">
    <% @patterns.each do |pattern| %>
      <%# <%= cl_image_tag pattern.photo.key, height: 300, width: 400, crop: :fill %>

      <div class='card'>
        <div class="parent" >
         <% if pattern.photo.attached? %>
            <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= pattern.id %>" class="child bg-one" style="background-image: url('<%= cl_image_path pattern.photo.key %>')">
              <div class="box-black">
              </div>
            </div>
          <% else %>
            <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= pattern.id %>" class="child bg-one" style="background-image: url('<%=pattern.image_url%>')">
              <div class="box-black">
              </div>
            </div>
          <% end %>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
          <h2><strong><%= pattern.name %></strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p data-bs-toggle="modal" data-bs-target="#exampleModal<%= pattern.id %>"><i class="fa-solid fa-eye"></i></p>
          </span>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= pattern.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" id="overlay">
            <div class='card-overlay'>
              <div class="parent-overlay">
                <% if pattern.photo.attached? %>
                  <div class="child bg-one" style="background: url('<%= cl_image_path pattern.photo.key %>'); background-size: cover;">
                  </div>
                <% else %>
                  <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= pattern.id %>" class="child bg-one" style="background-image: url('<%=pattern.image_url%>')">
                    <%# <div class="box-black">
                    </div> %>
                  </div>
                <% end %>
              </div>

              <div class='card-desc-overlay'>
                <span class='card-desc-first-overlay'>
                  <h2><strong><%= pattern.name %></strong></h2>
                  <p><small>Pattern author</small></p>
                <div class='card-desc-last-overlay text-right'>

                  <%= link_to "Voir les produits",  root_path, data: {turbo_method: :post}, class: "button-black" %>
                  <%= link_to "Éditer ce motif", duplicate_pattern_path(pattern), data: {turbo_method: :post}, class: "button-black" %>
                   <%= link_to "Delete", pattern_path(pattern), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button-black"%>
                  <%# <button type="button" class="btn button-black" data-bs-dismiss="modal">Éditer ce motif</button> %>
                  <%# <button type="button" class="btn button-black">Voir les produits</button> %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
