  <div class="main-title">
    <span class="txt t1"> <h1>UN PETIT COUP DE POUCE ...&nbsp;</h1></span>
    <span class="txt t2"> <h1>UN PETIT COUP DE POUCE ...&nbsp;</h1></span>
  </div>

<div id="index-3">
  <div class="search-filter">
    <h2>SORT BY</h2>
  <p class="button-white">original order</p>
  <p class="button-white">name</p>
  <p class="button-white">release date</p>
  <p class="button-white">last update</p>
  <p class="button-white">random</p>
  </div>
</div>


<div id="overlay" onclick="off()">
   <div class='card-overlay'>
      <div class="parent-overlay" onclick="" >
          <div class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
          </div>
        </div>

        <div class='card-desc-overlay'>
          <span class='card-desc-first-overlay'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          <div class='card-desc-last-overlay'>
            <%= link_to "Voir les produits",  patterns_path, data: {turbo_method: :post}, class: "button-black" %>
            <%= link_to "Éditer ce motif", patterns_path, class:"button-black" %>
          </div>
        </div>
    </div>
</div>

  <div class="collection">

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()"class="child bg-one" style="background-image: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></button>
          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background-image: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></button>
          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background-image: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></button>
          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background-image: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
          <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></p>

          </span>
        </div>
    </div>

    <div class='card'>
      <div class="parent" onclick="" >
          <div onclick="on()" class="child bg-one" style="background: url(<%= image_path "homepage/patterns/motif-test.png" %>)">
            <div class="box-black">
            </div>
          </div>
        </div>

        <div class='card-desc'>
          <span class='card-desc-first'>
            <h2><strong>Pattern name</strong></h2>
            <p><small>Pattern author</small></p>
          </span>
          <span class='card-desc-last'>
            <p onclick="on()"><i class="fa-solid fa-eye"></i></button>
          </span>
        </div>
    </div>


  </div>




<script>
function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}
</script>
