  <div class="wrapper">
  <div class="main-title">
    <span class="txt t1"> <h1>SAME SAME, BUT DIFFERENT !&nbsp;</h1></span>
    <span class="txt t2"> <h1>SAME SAME, BUT DIFFERENT !&nbsp;</h1></span>
    <span class="txt t2"> <h1>SAME SAME, BUT DIFFERENT !&nbsp;</h1></span>
  </div>

<div class="pattern-product">
  <%# <h1>Votre motif : <%= @pattern.name </h1> %>
  </div>
  <div class='card-product'>
    <div class="parent-product" >
      <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= @pattern.id %>" class="child-product bg-one" style="background-image: url('<%=@pattern.image_url%>')">
      </div>
    </div>
  </div>
  <div class="products">
  <h1>Votre motif sur ...</h1>
    <div class="devis">
    Casquette
    </div>
    <div class="devis">
    Papier peint
    </div>
    <div class="devis">
    Teeshirt
    </div>
    <div class="devis">
    Sac
    </div>
    <div class="devis">
    Foulard
    </div>
    <div class="devis">
    Chaise de réal
    </div>
    <div class="devis">
    Chaise longue
    </div>
    <div class="devis">
    Coussin
    </div>
    <div class="devis">
    Bracelet
    </div>
    <div class="devis">
    Pull
    </div>
    <div class="devis">
    Maillot de bain H
    </div>
    <div class="devis">
    Maillot de bain F
    </div>
    <div class="devis">
    Gourde
    </div>
    <div class="devis">
    Chaussette
    </div>
    <div class="devis">
    Coque de téléphone
    </div>
  </div>

            <%# <div data-bs-toggle="modal" data-bs-target="#exampleModal<%= @pattern.id " class="child bg-one" style="background-image: url('<%=pattern.image_url')"> %>

</div>
