<div class="generator">

  <%# <div class="main-menu"> %>
  <div class="espace-créa">
    <div data-controller="pattern" style="display: flex;">
      <canvas id="canvas" width="500" height="500"></canvas>
      <div class="main-menu">
        <%= inline_svg_tag "colibri.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
        <%= inline_svg_tag "losange.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" }, class: "d-none" %>
        <%= inline_svg_tag "fleur.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
        <%= inline_svg_tag "crabe.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
        <button data-action="click->pattern#groupSelection" class="button-black">Group All</button>
        <button data-action="click->pattern#unGroupSelection" class="button-black">Ungroup All</button>
        <ul>
          <% @color_range.each do |color| %>
             <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color%>; color: <%= color%>" class="btn list-unstyled"> <%= color%></li>
          <% end %>
        </ul>
        </div>
    </div>
  </div>

    <style>
      canvas {
        border: 1px solid black;
      }
    </style>
</div>
