
<%# <div class="wrapper-all"> %>


<div  data-controller="pattern" style="display: flex;" data-pattern-update-value="<%=pattern_path(@pattern)%>" data-pattern-json-value="<%=@pattern.json%>">

    <canvas id="canvas" width="600" height="600" position="absolute" ></canvas>
  <%= render "shared/collapsible_sidebar", class:"espace-créa" %>
  <%= render "shared/collapsible_myforms",class:"forms"  %>
  <div data-pattern-target="displayColor" ></div>
  <div class="action-generator">
  <h4>Selection</h4>
  <button data-action="click->pattern#groupSelection" class="button-white">Tout sélectionner</button>
  <button data-action="click->pattern#unGroupSelection" class="button-white">Tout déselectionner</button>
  <button data-action="click->pattern#clearCanvas" class="button-white">Tout supprimer</button>
  <button data-action="click->pattern#removeSelection" class="button-white">Supprimer la sélection</button>
  <h4>Sauvegarde</h4>
  <button data-action="click->pattern#saveCanvas" class="button-white">Sauvegarder</button>
  <%# <button data-action="click->pattern#loadCanvas" class="button-white">Charger</button> %>
  <button data-action="click->pattern#undo" class="button-white">Annuler action</button>
  <button data-action="click->pattern#redo" class="button-white">Reproduire action</button>
  <h4>Copier-coller</h4>
  <button data-action="click->pattern#copy" class="button-white">Copier</button>
  <button data-action="click->pattern#paste" class="button-white">Coller</button>
  <h4>Changer les couleurs</h4>
  <button data-action="click->pattern#allRandomColor" class="button-white">Toutes les formes</button>
  <button data-action="click->pattern#selectedShapeRandomColor" class="button-white">La forme sélectionnée</button>
 <button type="button" class="button-white" data-bs-toggle="modal" data-bs-target="#aperçu">
  Aperçu
  </button></div>

<!-- Modal -->
<div class="modal fade" id="aperçu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Aperçu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="button-white" data-bs-dismiss="modal">Fermer</button>
        <%= link_to "Voir les produits",  pattern_products_path(@pattern.id), class: "button-black" %>
      </div>
    </div>
  </div>
</div>
<!--modal fin-->
<div id="canva-bg"></div>
</div>



<%# <div id="shape-block"> %>
  <%# <h3> Mes formes </h3> %>
<%# </div> %>




<style>
.canvas-container canvas {
border: 1px solid black;
}

canvas {
/* border: 1px solid black; */
}

/* #shape-block{
border: 1px solid black;
width: 200px;
height: content;
} */
</style>

<%# <div> %>
<%# <%= @pattern.name %>
 <%# <img src="<%=@pattern.image_url" alt="Red dot" /> %>
<%# </div> %>
