
<style>
  canvas {
    border: 1px solid black;
  }
</style>

<div data-controller="pattern">
  <canvas id="canvas" width="500" height="500"></canvas>
  <%= inline_svg_tag "colibri.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
  <%= inline_svg_tag "losange.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" }, class: "d-none" %>
  <%= inline_svg_tag "fleur.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
  <%= inline_svg_tag "crabe.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
  <button data-action="click->pattern#groupSelection" class="btn btn-primary">Group All</button>
  <button data-action="click->pattern#unGroupSelection" class="btn btn-primary">Ungroup All</button>
  <ul>
    <% @color_range.each do |color| %>
      <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color%>; color: <%= color%>" class="btn list-unstyled"> <%= color%></li>
    <% end %>
     <%# <input data-action="click->pattern#changeShapeColor" type="color" id="head" name="head" value="#e66465"> %>
  </ul>
  <%# <div data-pattern-target="shapeArray"></div> %>
</div>
