<%# <div class="generator"> %>
<%# <div class="main-menu"> %>
<%# <div class="espace-créa"> %>

<style>
  canvas {
    border: 1px solid black;
  }
  /* #shape-block{
    border: 1px solid black;
    width: 200px;
    height: content;
  } */
</style>

<div class="container d-flex m-3 p-3 row" data-controller="pattern" data-pattern-update-value="<%=pattern_path(@pattern)%>" data-pattern-json-value="<%=@pattern.json%>">
  <div class="container d-flex flex-column col-4">
    <div class="p-3">
      <h3> Formes disponibles </h3>
      <%= inline_svg_tag "colibri.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
      <%= inline_svg_tag "losange.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" }, class: "d-none" %>
      <%= inline_svg_tag "fleur.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
      <%= inline_svg_tag "crabe.svg", height: '100', width: '100', data: { action: "click->pattern#addAShape" } %>
    </div>
    <div class="p-3">
      <h3> Couleurs disponibles </h3>
      <ul>
        <% @color_range.each do |color| %>
          <li data-action="click->pattern#changeShapeColor" style="background-color: <%=color%>; color: <%= color%>" class="btn list-unstyled"> <%= color%></li>
        <% end %>
      </ul>
    </div>
    <div class="p-3">
      <h3> Couleurs de fond disponibles </h3>
      <ul>
        <% @color_range.each do |color| %>
          <li data-action="click->pattern#setBackgroundColor" style="background-color: <%=color%>; color: <%= color%>" class="btn list-unstyled"> <%= color%></li>
        <% end %>
      </ul>
    </div>
    <div class="p-3">
      <h3> Actions </h3>
      <div class="p-3">
        <button data-action="click->pattern#groupSelection" class="button-black">Select all</button>
        <%# <button data-action="click->pattern#unGroupSelection" class="button-black">Ungroup All</button> %>
        <button data-action="click->pattern#saveCanvas" class="button-black">Save</button>
        <button data-action="click->pattern#loadCanvas" class="button-black">Load</button>
        <button data-action="click->pattern#undo" class="button-black">Undo</button>
        <button data-action="click->pattern#redo" class="button-black">Redo</button>
        <button data-action="click->pattern#clearCanvas" class="button-black">Clear all</button>
        <button data-action="click->pattern#removeSelection" class="button-black">Delete selection</button>
      </div>
    </div>
  </div>
  <div class="container col-4">
    <div id="shape-block">
      <h3 class="p-3"> Mes formes </h3>
    </div>
  </div>
  <div class="container col-4">
    <canvas id="canvas" width="800" height="800"></canvas>
  </div>
</div>
